<!DOCTYPE html>
<html lang="en" ng-app="ycdiyStoreApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>养车DIY</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/jquery-ui.css" />
    <link href="styles/ihover.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/demo/css/demo.css">
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.min.css">
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.style.min.css">
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/board.css">
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-date/src/date.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
    <script src="bower_components/angular-validation-ghiscoding/dist/angular-validation.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/componentControllers.js"></script>
    <script src="scripts/controllers/vehicleControllers.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/services/componentServices.js"></script>
    <script src="scripts/services/vehicleServices.js"></script>
    <script src="scripts/services/userServices.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/product.js" type="text/javascript"></script>
<!--    <script src="scripts/store.js" type="text/javascript"></script>-->
    <script src="scripts/shoppingCart.js" type="text/javascript"></script>
    <script type="text/javascript" src="scripts/model.js"></script>
    <script type="text/javascript" src="scripts/services/BoardManipulator.js"></script>
    <script type="text/javascript" src="scripts/services/BoardDataFactory.js"></script>
    <script type="text/javascript" src="scripts/services/BoardService.js"></script>
    <script type="text/javascript" src="scripts/services/pictureUpload.js"></script>
	<script type="text/javascript" src="scripts/services/shoppingServices.js"></script>
	<script type="text/javascript" src="scripts/services/orderServices.js"></script>
    <script type="text/javascript" src="scripts/controllers/KanbanController.js"></script>
    <script type="text/javascript" src="scripts/controllers/NewCardController.js"></script>
    <script type="text/javascript" src="scripts/controllers/authController.js"></script>
    <script type="text/javascript" src="scripts/controllers/publicErrorControllers.js"></script>
    <script type="text/javascript" src="scripts/controllers/mainController.js"></script>
    <script type="text/javascript" src="scripts/controllers/backStageControllers.js"></script>
	<script type="text/javascript" src="scripts/controllers/shoppingControllers.js"></script>
	<script type="text/javascript" src="scripts/controllers/orderControllers.js"></script>
    <script type="text/javascript" src="scripts/clock.js"></script>
</head>

<body ng-controller="mainController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="colla0 pse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/vehicle">养车DIY </a>
                <div class="navbar-brand"><span id="clock"></span>
                </div>
            </div>

            <div id="navbar" class="navbar-collapse collapse" ng-controller="signupController">
                <form class="navbar-form navbar-right" role="form" name="loginForm">
                    <a href="#/vehicle">{{'LANDING_PAGE' | translate}}</a>
                    <a href="" data-toggle="modal" data-target="#loginModal" ng-show="!user.isIn">{{'LOGON' | translate}}</a>
                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">{{'LOGON_PAGE_TITLE' | translate}}</h4>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <tr>
                                            <div class="form-group">
                                                <label for="name">{{'LOGON_USERNAME' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input type="text" class="form-control" id="name" ng-model="user.username" required autofocus="autofocus">
                                            </div>
                                        </tr>
                                        <br>
                                        <br>
                                        <tr>
                                            <div class="form-group">
                                                <label for="name">{{'LOGON_PASSWORD' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input type="password" class="form-control" id="name" ng-model="user.password" required ng-keyup="enter($event)">
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'COMMON_CLOSE' | translate}}</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="logon()">{{'LOGON_SUBMIT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" data-toggle="modal" data-target="#signupModal" ng-show="!user.isIn">
  {{'LOGON_SIGNUP' | translate}}
</a>
                    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">{{'LOGON_SIGNUP_TITLE' | translate}}</h4>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <tr>
                                            <div class="form-group">
                                                <label for="name">{{'LOGON_USERNAME' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input type="text" class="form-control" id="name" ng-model="user.username" required autofocus="autofocus">
                                            </div>
                                        </tr>
                                        <br>
                                        <br>
                                        <tr>
                                            <div class="form-group">
                                                <label for="name">{{'LOGON_PASSWORD' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input type="password" class="form-control" id="name" ng-model="user.password" required autofocus="autofocus">
                                            </div>
                                        </tr>
                                        <br>
                                        <br>
                                        <tr>
                                            <div class="form-group">
                                                <label for="name">{{'LOGON_PASSWORD_CONFIRM' | translate}}</label>
                                                <input type="password" class="form-control" id="name" ng-model="user.password_confirm" required autofocus="autofocus">
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'COMMON_CLOSE' | translate}}</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="signup()">{{'LOGON_SIGNUP_BUTTON' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#/user/detail" ng-show="user.isIn">{{'LOGON_WELCOME' | translate}}{{username}}</a>
                    <a href="#/cart" ng-show="user.isIn">{{'LOGON_CART' | translate}}</a>
					<a href="#/order" ng-show="user.isIn">{{'LOGON_ORDER' | translate}}</a>
					<a href="#/admin/component/list" ng-show="user.isAdmin">管理员</a>
                    <button type="button" class="btn btn-success" ng-click="logout()">{{'LOGON_LOGOUT' | translate}}</button>
                </form>
            </div>
    </nav>
    <div class="container">
        <hr>
        <hr>
        <div ng-view></div>
        <hr>
        <footer>
            <p>&copy;{{'APP_VERSION' | translate}}</p>
        </footer>
    </div>
</body>
<script type="text/javascript">
    var clock = new Clock();
    clock.display(document.getElementById("clock"));
</script>

</html>
