<div class="container">
    <div class="jumbotron">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td>一级:
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSearch" data-toggle="dropdown" aria-expanded="true" ng-click="queryLevel1()">
                                    {{search.level1}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" ng-repeat="vehicle_l1 in items_l1">
                                        <a role="menuitem" tabindex="-1" ng-click="setLevel1(vehicle_l1)">{{vehicle_l1.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSearch" data-toggle="dropdown" aria-expanded="true" ng-click="queryLevel1()">
                                    {{search.level2}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" ng-repeat="vehicle_l2 in items_l2">
                                        <a role="menuitem" tabindex="-1" ng-click="setLevel2(vehicle_l2)">{{vehicle_l2.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="tdRight">
                            <span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="clear()" >清空</button>
									<button class="btn btn-info" type="button" ng-click="query()" >查询</button>
							</span>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table">
                <tr>
                    <th>名称</th>
                    <th>描述</th>
                </tr>
                <tr ng-repeat="vehicle in items">
                    <td class="tdLeft"> <a href="#/store/{{vehicle._id}}">{{vehicle.title}}</a></td>
                    <td class="tdLeft">{{vehicle.description}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
