<div class="container">
    <div ng-include="'views/admin/navigation.html'"></div>
    <div class="jumbotron">
        <message />
        <componenttabs />
        <form name="form" novalidate ng-submit="create()">
            <div class="row" ng-show="showDetail">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">{{'COMPONENT_NAME' | translate}}</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="请输入名称" ng-model="component.comName" validation="required">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">{{'COMPONENT_PRICE' | translate}}</label>
                                <input type="text" class="form-control" name="price" placeholder="请输入价格" ng-model="component.price" validation="numeric">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group" ng-show="!editable">
                                <labuel for="name">{{'COMPONENT_TYPE' | translate}}</label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                            {{component.comType}}<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="component.comType='空气滤清'">空气滤清</a>
                                            </li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="component.comType='机油滤清'">机油滤清</a>
                                            </li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="component.comType='空调滤清'">空调滤清</a>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group" ng-show="editable">
                                    {{component.comType}}
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        <label for="name">{{'COMPONENT_DISCRIPTION' | translate}}</label>
                        <textarea type="text" class="form-control" name="comDescription" placeholder="请输入描述" ng-model="component.comDescription" validation="max_len:200" style="width:450px; height:180px; overflow-y:hidden;"></textarea>
                    </div>
                </div>
            </div>



            <div class="row" ng-show="showPic">
                <div class="col-md-3">
                    <label for="inputfile">已上传图片</label>
                </div>
                <div class="col-md-9" sutyle="margin-bottom: 40px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">图片</th>
                                <th>文件名</th>
                                <th>上传时间</th>
                                <th>文件大小</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="picture in component.pictures">
                                <td>
                                    <a href="#" class="thumbnail">
                                        <img ng-src="images/component/{{picture.name}}" width="210" height="150" />
                                    </a>
                                </td>
                                <td>{{picture.name}}</td>
                                <td>{{picture.uploaddate}}</td>
                                <td>{{picture.size/1024/1024|number:2 }} MB</td>
                                <td><a href="" ng-click="removePicture(picture._id)">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-3">
                    <label for="inputfile">上传图片</label>
                    <input type="file" nv-file-select="" uploader="uploader" multiple />
                    <br/>
                </div>
                <div class="col-md-9" style="margin-bottom: 40px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">文件名称</th>
                                <th ng-show="uploader.isHTML5">文件大小</th>
                                <th ng-show="uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> 删除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success " ng-click="update()" ng-disabled="form.$invalid">保存</button>
                            <button type="button" class="btn btn-default" ng-click="back('/admin/component/list')">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
