<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/vehicle">商城</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/admin/landing">零件管理</a></li>
        <li class="dropdown">
          <a href="" data-toggle="dropdown">车型管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/admin/vehicle">车型结构</a></li>
            <li><a href="#/admin/vehicle/list">车型维护</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">用户管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/admin/upload">用户列表</a></li>
            <li><a href="#/admin/componentgrid">权限管理</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">订单管理 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/admin/upload">待处理</a></li>
            <li><a href="#/admin/componentgrid">已处理</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/admin/task">分店管理</a></li>
        <li><a href="../navbar-fixed-top/">站内通信</a></li>
      </ul>
    </div>
  </div>
</nav>