<div class="container">
    <div ng-include="'views/admin/navigation.html'"></div>
    <div class="jumbotron">
        <message />
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td class="tdLeft">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="编码..." ng-model="searchObj.search_name" ng-keyup="enter($event)">
                                <span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="clear(searchObj)" >{{'ORDER_CLEAR' | translate}}</button>
									<button class="btn btn-info" type="button" ng-click="query()" >{{'ORDER_QUERY' | translate}}</button>
								  </span>
                            </div>
                        </td>
						<td class="tdRight">
							<button class="btn" type="button" ng-click="refresh()" >{{'ORDER_REFRESH' | translate}}</button>
						</td>
                    </tr>
                </table>
            </div>
            <table class="table">
                <tr>
                    <th>{{'ORDER_CODE' | translate}}</th>
                    <th>{{'ORDER_BOC' | translate}}</th>
                    <th>{{'ORDER_PRICE_GET' | translate}}</th>
                    <th>{{'ORDER_COMMIT_TIME' | translate}}</th>
                    <th>{{'ORDER_UPDATE_TIME' | translate}}</th>
                    <th>{{'ORDER_UPDATEDBY' | translate}}</th>
                    <th>{{'ORDER_STATUS' | translate}}</th>
                    <th>{{'ORDER_ACTION' | translate}}</th>
                </tr>
                <tr ng-repeat="order in items">
                    <td class="tdLeft">{{order.code}}</td>
                    <td class="tdLeft"><a href="#">详细清单</a>
                    </td>
                    <td class="tdLeft">{{order.totalPrice}}</td>
                    <td class="tdLeft">{{order.created | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td class="tdLeft">{{order.updated | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td class="tdLeft">{{order.updatedBy.username}}</td>
                    <td class="tdLeft">{{order.status}}</td>
                    <td class="tdLeft">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-warning" ng-click="open('/admin/user/edit/' + user._id)">{{'ORDER_MODIFY' | translate}}</button>
                            <button type="button" class="btn btn-info" ng-click="updateStatus(order._id,'已发货')">{{'ORDER_SENT' | translate}}</button>
                            <button type="button" class="btn btn-success" ng-click="updateStatus(order._id,'已签收')">{{'ORDER_RECIEVE' | translate}}</button>
                            <button type="button" class="btn btn-danger" ng-click="abort(order._id, '作废')">{{'ORDER_ABORT' | translate}}</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()" previous-text="{{'COMMON_PAGEINATION_PRE' | translate}}" next-text="{{'COMMON_PAGEINATION_NEXT' | translate}}"></pagination>
    </div>

</div>
