<div class="container">
	<div ng-include="'views/admin/navigation.html'"></div>
    <div class="page-header">
        <h1>用户信息</h1>
    </div>
    <div class="jumbotron">
        <message />
        <form name="form" novalidate>
            <div class="row">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">用户名</label>
                                <input type="text" class="form-control" id="name" ng-model="user.username" disabled>
                                <label for="name"><a href="" ng-click="changePass()">修改密码？</a>
                                </label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">联系电话</label>
                                <input type="text" class="form-control" id="name" ng-model="user.phone">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">电子邮箱</label>
                                <input type="text" class="form-control" id="name" ng-model="user.email">
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" ng-show="showPass">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">旧密码</label>
                                <input type="password" class="form-control" id="name" ng-model="user.password_old">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">新密码</label>
                                <input type="password" class="form-control" id="name" ng-model="user.password_new">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">确认密码</label>
                                <input type="password" class="form-control" id="name" ng-model="user.password_confirm">
                            </div>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <table class="table">
                        <tr ng-repeat="address in user.addresses">
                            <td class="tdLeft">{{address.district}}</td>
                            <td class="tdLeft">{{address.line1}}</td>
                            <td class="tdLeft">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-danger" ng-click="deleteAddr(address)">删除</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name"><a href="" ng-click="showAddrForm()">增加地址</a>
                                </label>
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" ng-show="showAddr">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">国家</label>
                                <input type="text" class="form-control" id="name" ng-model="address.country" disabled>
                                <label for="name">城市</label>
                                <input type="text" class="form-control" id="name" ng-model="address.city" disabled>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">区县</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        {{address.district}}<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setDistrict('黄浦')">黄浦</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setDistrict('徐汇')">徐汇</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setDistrict('闵行')">闵行</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">地址</label>
                                <input type="text" class="form-control" id="name" ng-model="address.line1">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">邮编</label>
                                <input type="text" class="form-control" id="name" ng-model="address.postal">
                            </div>
                        </tr>
                        <tr>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success " ng-click="addAddr()">新增</button>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success " ng-click="update()">保存</button>
                            <button type="button" class="btn btn-default" ng-click="back('/admin/user/list')">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
