<div class="container">
    <div ng-include="'views/admin/navigation.html'"></div>
    <div class="page-header">
        <h1>用户列表</h1>
    </div>
    <div class="jumbotron">
        <message />
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td class="tdLeft">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="用户名..." ng-model="search_name" ng-keyup="enter($event)">
                                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="clear()" >清空</button>
                    <button class="btn btn-info" type="button" ng-click="query()" >查询</button>
                  </span>
                            </div>
                        </td>
                        <td class="tdRight">
                            <button type="button" class="btn btn-success" ng-click="add()">新增</button>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="user in users">
                    <td class="tdLeft">{{user._id}}</td>
                    <td class="tdLeft">{{user.username}}</td>
                    <td class="tdLeft">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-warning" ng-click="edit(user._id)">修改</button>
							<button type="button" class="btn btn-warning" ng-click="suspend(user._id)">暂停</button>
                            <button type="button" class="btn btn-danger" ng-click="delete(user._id)">删除</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()" previous-text="前一页" next-text="后一页"></pagination>
        <!--pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination-->
    </div>

</div>