<div class="container">
    <div ng-include="'views/admin/navigation.html'"></div>
    <div class="jumbotron">
        <message />
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td class="tdLeft">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{'VEHICLE_NAME' | translate}}..." ng-model="search.search_name" ng-keyup="enter($event)">
                            </div>
                        </td>
                        <td>{{'VEHICLE_1ST_LVEVEL' | translate}}:
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSearch" data-toggle="dropdown" aria-expanded="true" ng-click="queryLevel1()">
                                    {{search.level1}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" ng-repeat="vehicle_l1 in items_l1">
                                        <a role="menuitem" tabindex="-1" ng-click="setLevel1(vehicle_l1)">{{vehicle_l1.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSearch" data-toggle="dropdown" aria-expanded="true" ng-click="queryLevel1()">
                                    {{search.level2}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" ng-repeat="vehicle_l2 in items_l2">
                                        <a role="menuitem" tabindex="-1" ng-click="setLevel2(vehicle_l2)">{{vehicle_l2.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="tdRight">
                            <span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="clear()" >{{'VEHICLE_CLEAR' | translate}}</button>
									<button class="btn btn-info" type="button" ng-click="query()" >{{'VEHICLE_QUERY' | translate}}</button>
									<button type="button" class="btn btn-success" ng-click="open('/admin/vehicleEntity/add')">{{'VEHICLE_ADD' | translate}}</button>
							</span>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table">
                <tr>
                    <th>{{'VEHICLE_NAME' | translate}}</th>
                    <th>{{'VEHICLE_DESCRIPTION' | translate}}</th>
                    <th>{{'VEHICLE_LEVEL' | translate}}</th>
                    <th>{{'VEHICLE_CHILDREN' | translate}}</th>
                    <th>{{'VEHICLE_ACTION' | translate}}</th>
                </tr>
                <tr ng-repeat="vehicle in items">
                    <td class="tdLeft">{{vehicle.title}}</td>
                    <td class="tdLeft">{{vehicle.description}}</td>
                    <td class="tdLeft">{{vehicle.level}}</td>
                    <td class="tdLeft">
                        <div ng-repeat="sub in vehicle.children">
                            {{sub.title}}
                        </div>
                    </td>
                    <td class="tdLeft">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-warning" ng-click="open('/admin/vehicleEntity/edit/' +vehicle._id)">{{'VEHICLE_MODIFY' | translate}}</button>
                            <button type="button" class="btn btn-warning" ng-click="open('/admin/vehicleEntity/bindComponent/' +vehicle._id)">{{'VEHICLE_COMPONENT' | translate}}</button>
                            <button type="button" class="btn btn-danger" ng-click="delete(vehicle._id)">{{'VEHICLE_DELETE' | translate}}</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()" previous-text="{{'COMMON_PAGEINATION_PRE' | translate}}" next-text="{{'COMMON_PAGEINATION_NEXT' | translate}}"></pagination>
    </div>

</div>
