<div class="container">

    <div ng-include="'views/admin/navigation.html'"></div>
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="jumbotron">
        <message />
        <form name="form" novalidate ng-submit="create()">
            <div class="row">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">{{vehicle.title}} / {{vehicle.description}} / {{vehicle.level}}</label>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <tr>
                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSearch" data-toggle="dropdown" aria-expanded="true">
                                    {{search.comType}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-model="search">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="search.comType='空气滤清'">空气滤清</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="search.comType='机油滤清'">机油滤清</a>
                                    </li>
									<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="search.comType='空调滤清'">空调滤清</a>
                                    </li>
                                </ul>
                                <button class="btn btn-info" type="button" ng-click="queryComponent()">{{'COMPONENT_QUERY' | translate}}</button>
                            </div>
                    </tr>
                    <tr>
                        <div ng-model="kanbanBoard" id="board">
                            <div id="columns" class="row">
                                <div class="col-sm-{{12/kanbanBoard.numberOfColumns}} col-xs-{{12/kanbanBoard.numberOfColumns}}" ng-repeat="column in kanbanBoard.columns" data-columnindex="{{$index}}" id="column{{$index}}">
                                    <div class="column">
                                        <div class="columnHeader">
                                            <span>{{column.name}}</span>
                                        </div>
                                        <ul class="cards card-list" as-sortable="kanbanSortOptions" ng-model="column.cards">
                                            <li class="card" ng-repeat="card in column.cards" as-sortable-item ng-include="'views/admin/componentCard.html'">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-success " ng-click="update()">{{'COMMON_SAVE' | translate}}</button>
                                <button type="button" class="btn btn-default" ng-click="back()">{{'COMMON_BACK' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        </div>
    </div>
