<div class="container">
    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="jumbotron">
        <message />
        <form name="form" novalidate>
            <div class="row">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">用户名</label>
                                <input type="text" class="form-control" id="name" ng-model="user.username" disabled>
                                <label for="name"><a href="" ng-click="changePass()">修改密码？</a>
                                </label>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">联系电话</label>
                                <input type="text" class="form-control" name="phone" ng-model="user.phone" validation="integer">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">电子邮箱</label>
                                <input type="text" class="form-control" name="email" ng-model="user.email" validation="email">
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" ng-show="showPass">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">旧密码</label>
                                <input type="password" class="form-control" id="name" ng-model="user.password_old">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">新密码</label>
                                <input type="password" class="form-control" id="name" ng-model="user.password_new">
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">确认密码</label>
                                <input type="password" class="form-control" name="password_confirm" ng-model="user.password_confirm" >
                            </div>
                        </tr>
						<tr>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success " ng-click="resetPass()">重置密码</button>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>

            <label for="name">可选地址列表</label>
            <table class="table">
                <tr ng-repeat="address in user.addresses  track by $index">
                    <td><input type="radio" name="isActive" ng-model="address.active" ng-checked="address.active" ng-click="activeAddr($index)"/>
						{{address.province}} {{address.city}} {{address.district}} {{address.line1}} 联系人:{{address.contact}} 电话:{{address.contactPhone}}
						<a href='' ng-click="deleteAddr($index)">删除</a></td>
                </tr>
            </table>

            <div class="row">
                <div class="col-lg-6">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name"><a href="" ng-click="showAddrForm()">增加地址</a>
                                </label>
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" ng-show="showAddr">
                    <table class="table">
                        <tr>
                            <div class="form-group">
                                <label for="name">国家</label>
                                <input type="text" class="form-control" id="name" ng-model="newAddress.country" disabled>
                                <label for="name">城市</label>
                                <input type="text" class="form-control" id="name" ng-model="newAddress.city" disabled>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">区县</label>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        {{newAddress.district}}<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newAddress.district = '黄浦区'">黄浦区</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newAddress.district = '徐汇区'">徐汇区</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="newAddress.district = '闵行区'">闵行区</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div class="form-group">
                                <label for="name">地址</label>
                                <input type="text" class="form-control" id="name" ng-model="newAddress.line1">
                            </div>
                        </tr>
						<tr>
                            <div class="form-group">
                                <label for="name">联系人姓名</label>
                                <input type="text" class="form-control" id="name" ng-model="newAddress.contact">
                            </div>
                        </tr>
						<tr>
                            <div class="form-group">
                                <label for="name">联系人电话</label>
                                <input type="text" class="form-control" id="name" ng-model="newAddress.contactPhone">
                            </div>
                        </tr>
                        <tr>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success " ng-click="addAddr()">新增</button>
                                </div>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success " ng-disabled="form.$invalid" ng-click="update()">保存</button>
                            <button type="button" class="btn btn-default" ng-click="back()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
